<html>
<form action = "/names" method = "post">  
  <div>
    <label for="PlayerOne"> Enter player one's name: </label>
    <input type="text" name="PlayerOne">
  </div>
  <div>
    <label for="PlayerTwo"> Enter player two's name: </label>
    <input type="text" name="PlayerTwo">
  </div>
  <div class="button">
    <button type="submit">Let's play!</button>
  </div> 
  
</form>