<%= $game.players[:player_one].name %>
<p id="player1_HP">
  <%= $game.players[:player_one].hp %> 
</p>
<br>
<%= $game.players[:player_two].name %> 
<p id="player2_HP">
  <%= $game.players[:player_two].hp %> 
</p>
<form action="/attack" method="post"><button type="submit">Attack</button></form>